<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database Connection Settings -->
        <!--<property name="connection.datasource">java:comp/env/jdbc/rpdb</property>-->
        <!--<property name="connection.driver_class">com.mysql.jdbc.Driver</property>-->
        <!--<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>-->

        <!-- SQL Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- Specifying Session Context -->
        <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>

        <property name="show_sql">false</property>

        <property name="hibernate.connection.CharSet">utf8</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>
        <property name="hibernate.connection.useUnicode">true</property>

        <property name="connection.url">jdbc:mysql://localhost:3306/restproxdb?useUnicode=true&amp;characterEncoding=utf-8&amp;serverTimezone=UTC</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <!--<property name="connection.driver_class">com.mysql.jdbc.Driver</property>-->

        <property name="connection.username">rpuser</property>
        <property name="connection.password">rppass</property>


        <!-- NOTE that after automapping with IDEA property username and password will delete -->
        <!--and will be:  Initial SessionFactory failedorg.hibernate.service.spi.ServiceException: Unable to create requested service-->

        <mapping class="ru.ath.alx.model.Transport"/>
        <mapping class="ru.ath.alx.model.Auth"/>
        <mapping class="ru.ath.alx.model.User"/>
        <!--<mapping resource="ru/ath/alx/model/Transport.hbm.xml"/>-->
    </session-factory>
</hibernate-configuration>