#OSMap {
    width: 100%;
    height: 800px;
}

.wrapper {
    position: absolute;
    top: 100px;
    width: 220px;
    height: 192px;
    z-index: 1000;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    background-color: #00008b;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 12px;
}

#tracksopenbtn {
    position: absolute;
    top: 1px;
    left: 207px;
}

#tracksopenbtn:hover {
    text-decoration: underline;
    cursor: pointer;
}

.title {
    text-align: center;
    font-size: 12px;
    padding: 5px 0;
}

#invnom {
    width: 50px;
    background-color: #00008b;
    color: #FFFFFF;
}

.fontbold {
    font-weight: bold;
}

.controls {
    text-align: left;
    font-size: 12px;
    padding: 5px 5px;
}

.datepicker {
    float: right;
    height: 15px;
    width: 120px;
    border: 1px solid #FFFFFF;
}

.clearboth {
    clear: both;
}

.divmargins {
    margin: 12px 0 20px 0;
}

.textcenter {
    text-align: center;
}

#probeg {
    float: right;
    height: 15px;
    width: 120px;
    border: 1px solid #0092DA;
    background-color: #000000;
    color: #FFF;
    font-weight: bold;
}

#refreshBtn {
    height: 25px;
    width: 120px;
    padding: 0;
    border: 1px solid #FFFFFF;
}

#refreshBtn:hover, #dtpicker1:hover, #dtpicker2:hover {
    cursor: pointer;
}

.errorwrapper {
    display: none;
    position: absolute;
    top: 300px;
    width: 220px;
    z-index: 1000;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    background-color: #FF0000;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 12px;
}

#errorclosebtn {
     position: absolute;
     top: 1px;
     left: 166px;
 }

#errorclosebtn:hover {
    cursor: pointer;
    text-decoration: underline;
}


#trackswrapper {
    display: none;
    position: absolute;
    top: 100px;
    left: 240px;
    width: 550px;
    height: 192px;
    z-index: 1000;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    background-color: #00008b;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 12px;
}

#tracksclosebtn {
    position: absolute;
    top: 1px;
    left: 495px;
}

#tracksclosebtn:hover {
    cursor: pointer;
    text-decoration: underline;
}

.headerdiv {
    margin: 0 5px 0 7px;
    height: 15px;
    background-color: #000000;
}

.column30px {
    float:left;
    width: 30px;
}

.column120px {
    float:left;
    width: 120px;
}

.column60px {
    float:left;
    width: 60px;
}

.datadiv {
    clear: both;
    height: 150px;
    padding: 0;
    margin: 0 5px;
    color: #000000;
    background-color: #FFFFFF;
    overflow-y: auto;
    height: 150px;
    background-color: #FFFFFF;
}

#datacontainer {
    list-style-type: none;
    padding: 0;
    margin: 0
}

#datacontainer li {
    margin-left: 2px;
    height: 17px;
}

#datacontainer li:hover {
    background-color: #c6bdf7;
    cursor: pointer;
}
